<ion-view title="Profile" ng-cloak>

    <ion-nav-bar class="bar-positive">

        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>




    <ion-content has-header="true">
        <div ng-if="vm.renderhtmlNow">
            <div id="profile-bg" ng-style="{'background-image': 'url({{vm.coverImage}})'}"></div>


            <div id="content">
                <div id="profile-info">
                    <img ng-src="{{vm.proPic}}" id="profile-image">
                    <h3 id="profile-name">{{vm.user.full_name}}</h3>
                    <span id="profile-description" ng-if="!vm.userOverview.workTitle == ''">{{vm.userOverview.workTitle}} <a rel="nofollow" rel="noreferrer"href="https://www.freemig.com">@Freemig</a></span>



                    <!-- connections, follower, following items -->

                    <div class="row" id="profile-btn">
                        <div class="col col-33">
                            <button ng-click="vm.openModal('connections')" class="button button-small button-light">Connections<br>{{vm.userOverview.connections}}</button>
                        </div>

                        <div class="col col-33">
                            <button ng-click="vm.openModal('followers')" class="button button-small button-light">Followers<br>{{vm.userOverview.follower}}
            </div>

            <div class="col col-33">
                <button ng-click="vm.openModal('following')" class="button button-small button-light">Following<br>{{vm.userOverview.following}}
            </div>
        </div>
      </div>
    </div>




<!-- basic info -->

      <div class="card list">
        <a class="item item-icon-left" href=""> <i class="icon ion-ios-navigate"></i><span style="font-size:15px">Lives in Dhaka, Bangladesh</span></a>
        <a class="item item-icon-left" href=""> <i class="icon ion-ios-telephone-outline"></i><span style="font-size:15px">+880 1710 234 567</span></a>
        <a class="item item-icon-left" href=""> <i class="icon ion-android-calendar"></i><span style="font-size:15px">January 1, 1990</span></a>
      </div>


    


  </div>



 </ion-content>

</ion-view>