<ion-view title="Profile" ng-cloak>

    <ion-nav-bar class="bar-positive">

        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>




    <ion-content has-header="true">
        <div ng-if="vm.renderhtmlNow">
            <div id="profile-bg" ng-style="{'background-image': 'url({{vm.coverImage}})'}">
                <!--cover pic edit icon -->
                <button class="button button-light button-clear icon icon-right ion-edit" style="padding-right:10px; text-shadow: 1px 3px 6px #000000;"></button>
            </div>



            <div id="content">
                <div id="profile-info">
                    <img ng-src="{{vm.proPic}}" id="profile-image">
                      <!--pro pic edit icon -->
                    <button id="pro-pic-edit" class="button button-light button-clear icon ion-camera"></button>
                    <h3 id="profile-name">{{vm.user.full_name}}</h3>
                    <span id="profile-description" ng-if="!vm.userOverview.workTitle == ''">{{vm.userOverview.workTitle}} <a rel="nofollow" rel="noreferrer"href="https://www.freemig.com">@Freemig</a></span>



                    <!-- connections, follower, following items -->

                    <div class="row" id="profile-btn">
                        <div class="col" style="padding-left:3%; padding-right:-10px">
                            <button ng-click="vm.openModal('connections')" class="button button-block button-clear button-small button-positive" style="font-size:12px"><strong>{{vm.userOverview.connections}}</strong><br>Connections</button>
                        </div>

                        <div class="col vertical-line"></div>

                        <div class="col" style="">
                            <button ng-click="vm.openModal('followers')" class="button button-block button-clear button-small button-positive" style="font-size:12px"><strong>{{vm.userOverview.follower}}</strong><br>Followers</button>
                        </div>

                        <div class="col vertical-line"></div>

                        <div class="col" style="padding-right:5%">
                            <button ng-click="vm.openModal('following')" class="button button-block button-clear button-small button-positive" style="font-size:12px"><strong>{{vm.userOverview.following}}</strong><br>Following</button>
                        </div>
                    </div>
                </div>
            </div>




<!-- basic info -->
              <div style="margin-top:30px">

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <p class="col col-80"><span class="information">{{vm.widgetInfo.genrelInfo.about.name}}</span></p>
                  </div>


                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a ng-repeat="w in vm.widgetInfo.work" class="col col-80">
                             <span class="information">{{w.title}} @ {{w.org_name}}</span>
                             <span class="information" ng-show="w.wto!==''">Worked @ {{w.org_name}} as {{w.title}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.home_town.name!==''">
                            <span class="information">From {{vm.widgetInfo.genrelInfo.home_town.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.dob.name!==''">
                            <span class="information">Birthdate: {{vm.widgetInfo.genrelInfo.dob.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.interest.name!==''">
                            <span class="information" >Interested In: {{vm.widgetInfo.genrelInfo.interest.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.interest.name!==''">
                          <span class="information" >Knows: {{vm.widgetInfo.genrelInfo.lang.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.phone.name!==''">
                            <span class="information" >Phone: {{vm.widgetInfo.genrelInfo.phone.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="icol col-80" ng-if="vm.widgetInfo.genrelInfo.relation.name!==''">
                            <span class="information" >Relationship Status: {{vm.widgetInfo.genrelInfo.relation.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.religion.name!==''">
                            <span class="information" >Religious View: {{vm.widgetInfo.genrelInfo.religion.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.website.name!==''">
                            <span class="information" >Website: {{vm.widgetInfo.genrelInfo.website.name}}</span>
                        </a>
                  </div>

                  <div class="row item item-borderless">
                        <a class="col col-10 col-offset-10"><i class="icon ion-images"></i></a>
                        <a class="col col-80" ng-if="vm.widgetInfo.genrelInfo.quote.name!==''">
                            <span class="information" >Favourite Quote:<br> {{vm.widgetInfo.genrelInfo.quote.name}}</span>
                        </a>
                </div>

              </div>




<!-- connections list -->


      <div style="padding-top:20px">

          <div class="row item item-borderless">
              <div class="col col-33" style="padding-left:10%">
                  <a href=""><button class="button button-balanced button-outline icon ion-android-person"></button></a>
                  <p style="padding-top:5px;  padding-left:10px; color:#11a74a; font-size:12px">About</p>
              </div>

              <div class="col col-33" style="padding-left:7%">
                  <a href=""><button class="button button-balanced button-outline icon ion-images"></button></a>
                  <p style="padding-top:5px; padding-left:8px; color:#11a74a; font-size:12px">Photos</p>
              </div>

              <div class="col col-33" style="padding-left:5%">
                  <a href="" style="text-decoration:none"><button class="button button-balanced button-outline  icon ion-android-people"></button></a>
                  <p style="padding-top:5px; padding-left:8px; color:#11a74a; font-size:12px">Friends</p>
              </div>
         </div>


         <div class="row item item-borderless">
             <div class="col col-33" style="padding-left:10%">
                 <a href="" style="text-decoration:none"><button class="button button-balanced button-outline icon ion-ios-videocam"></button></a>
                 <p style="padding-top:5px;padding-left:7px; color:#11a74a; font-size:12px">Groups</p>
             </div>

             <div class="col col-33" style="padding-left:7%">
                 <a href="" style="text-decoration:none"><button class="button button-balanced button-outline icon ion-android-microphone"></button></a>
                 <p style="padding-top:5px; padding-left:8px; color:#11a74a; font-size:12px">Audios</p>
             </div>

             <div class="col col-33" style="padding-left:5%">
                 <a href="" style="text-decoration:none"><button class="button button-balanced button-outline icon ion-ios-people" ></button></a>
                 <p style="padding-top:5px; padding-left: 1px; color:#11a74a; font-size:12px">Followers</p>
             </div>
        </div>


        <div class="row item item-borderless">
            <div class="col col-33" style="padding-left:10%">
                <a href="" style="text-decoration:none"><button class="button button-balanced button-outline icon ion-ios-videocam"></button></a>
                <p style="padding-top:5px;padding-left:12px; color:#11a74a; font-size:12px">Chats</p>
            </div>

            <div class="col col-33" style="padding-left:7%">
                <a href="" style="text-decoration:none"><button class="button button-balanced button-outline icon ion-ios-videocam"></button></a>
                <p style="padding-top:5px; padding-left:10px; color:#11a74a; font-size:12px">Videos</p>
            </div>

            <div class="col col-33" style="padding-left:5%">
                <a href="" style="text-decoration:none"><button class="button button-balanced button-outline icon ion-ios-people" ></button></a>
                <p style="padding-top:5px; padding-left:0; color:#11a74a; font-size:12px">Following</p>
            </div>
       </div>





          <button class="button button-block button-light"><span style="color:#11a74a">See All Connections</span></button>

    </div>






<!-- photo gallery -->












  </div>
 </ion-content>

</ion-view>
