<ion-view title="Profile" ng-cloak>

    <ion-nav-bar class="bar-positive">

        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

    </ion-nav-bar>




    <ion-content has-header="true">
        <div ng-if="vm.renderhtmlNow">



            <!--background image-->
            <div id="profile-bg" ng-style="{'background-image': 'url({{vm.coverImage}})'}">
                <button ng-click="vm.uploadCoverPhotoActionSheet()" class="button button-light button-clear icon icon-right ion-edit" style="padding-right:10px; text-shadow: 1px 3px 6px #000000;"></button>
            </div>



            <div id="content">
                <div id="profile-info">

                    <div class="row">

                        <div style="padding-left:10px">
                            <div class="profile_image" style="background-image: url({{vm.proPic}})">
                                <div class="pp-top"></div>
                                <div class="pp-Bottom"></div>
                            </div>

                            <!--pro pic edit-->
                            <button ng-click="vm.uploadProfilePictureActionSheet()" id="pro-pic-edit" class="button button-light button-small button-clear icon ion-camera"></button>
                        </div>

                        <div class="col" style="margin-top:5px">
                            <div>
                                <div id="profile-name"><b>{{vm.user.full_name}}</b></div>
                                <div id="profile-description" ng-if="!vm.userOverview.workTitle == ''"><br> {{vm.userOverview.workTitle}}
                                    <a rel="nofollow" rel="noreferrer" href="https://www.freemig.com">@Freemig</a>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!-- <img ng-src="{{vm.proPic}}" id="profile-image">

                    <button id="pro-pic-edit" class="button button-light button-clear icon ion-camera"></button>
                    <h3 id="profile-name">{{vm.user.full_name}}</h3>
                    <span id="profile-description" ng-if="!vm.userOverview.workTitle == ''">{{vm.userOverview.workTitle}} <a rel="nofollow" rel="noreferrer"href="https://www.freemig.com">@Freemig</a></span> -->



                    <!-- connections, follower, following items -->
                    <div class="row" id="profile-btn">
                        <div class="col" style="padding-left:3%; padding-right:-10px">
                            <button ng-click="vm.openModal('connections')" class="button button-block button-clear button-small button-positive" style="font-size:9px">
                            <strong>{{vm.userOverview.connections}}</strong> Connections</button>
                        </div>

                        <div class="col" style="">
                            <button ng-click="vm.openModal('followers')" class="button button-block button-clear button-small button-positive" style="font-size:9px">
                            <strong>{{vm.userOverview.follower}}</strong> Followers</button>
                        </div>


                        <div class="col" style="padding-right:5%">
                            <button ng-click="vm.openModal('following')" class="button button-block button-clear button-small button-positive" style="font-size:9px">
                            <strong>{{vm.userOverview.following}}</strong> Following</button>
                        </div>
                    </div>
                </div>
                <!-- </div> -->




                <!-- basic info -->
                <div class="card" style="margin-top:-70px">
                    <div class="item item-text-wrap" style="margin-bottom:-10px">

                        <!-- <div class="row row-no-padding">
                          <button class="button button-positive button-no-padding button-clear icon icon-right ion-edit" style="padding-right:0"></button>
                      </div> -->
                        <button ng-click="vm.basicInfoEditModalShow()" class="button button-small button-full button-clear button-positive icon-right icon ion-edit"
                            style="margin-top:-5px"></button>

                        <!--basic info-->
                        <div class="row item item-borderless">
                            <div style="margin-top:-30px; text-align:center; color:#22c064;">Basic Information</div>
                        </div>

                        <!--profession-->
                        <div class="row item">
                            <a ng-repeat="w in vm.widgetInfo.work" class="col">
                                <p style="margin-bottom:-25px; font-size:10px; color: #22c064;">Profession</p><br>
                                <span class="information">{{w.title}} @ {{w.org_name}}</span>
                                <span class="information" ng-show="w.wto!==''">Worked @ {{w.org_name}} as {{w.title}}</span>
                            </a>
                        </div>

                        <!--education-->
                        <div class="row item item-borderless">
                            <a ng-repeat="w in vm.widgetInfo.education" class="col">
                                <p style="margin-bottom:-25px; font-size:10px; color: #22c064;">Education</p><br>
                                <span class="information">{{w.title}} @ {{w.inst_name}}</span>
                                <span class="information" ng-show="w.wto!==''">Worked @ {{w.org_name}} as {{w.title}}</span>
                            </a>
                        </div>

                        <div class="row item item-borderless" ng-repeat="info in vm.widgetInfo.generalInfo">
                            <div class="col">
                                <p style="margin-bottom:-25px; font-size:10px; color: #22c064;">{{info.title}}</p><br>
                                <span class="information">{{info.name}}</span>
                            </div>
                        </div>

                    </div>
                </div>




                <!--Activities-->
                <div class="card" style="margin-top:-10px">
                    <div class="item item-text-wrap">

                        <div class="row">

                            <ul class="list">
                                <!-- photos -->
                                <li class="list__item social">
                                    <a href="" class="list__icon list__icon_social">
                                          <i class="icon_social ion-images"></i></a>
                                    <p style="font-size:10px; padding-left:20px">Photos</p>
                                </li>

                                <!-- Videos -->
                                <li class="list__item">
                                    <a href="" class="list__icon list__icon_social">
                                          <i class="icon_social ion-ios-videocam"></i></a>
                                    <p style="font-size:10px; padding-left:20px">Videos</p>
                                </li>

                                <!-- Audios -->
                                <li class="list__item">
                                    <a href="" class="list__icon list__icon_social">
                                          <i class="icon_social ion-mic-c"></i></a>
                                    <p style="font-size:10px; padding-left:20px">Audios</p>
                                </li>

                                 <li class="list__item">
                                    <a href="" class="list__icon list__icon_social">
                                          <i class="icon_social ion-easel"></i></a>
                                    <p style="font-size:10px; padding-left:20px">Albums</p>
                                </li>

                            </ul>


                        </div>
                    </div>
                </div>


            </div>


            <div class="bar bar-positive">
                <ion-segment ng-model="feedType" full="false" balanced>
                    <ion-segment-button value="'1''" ng-click="vm.changeFeedType(1)" style="color:white">
                        Regular
                    </ion-segment-button>
                    <ion-segment-button value="'2''" ng-click="vm.changeFeedType(2)" style="color:white">
                        Professional
                    </ion-segment-button>
                </ion-segment>
            </div>

            <div style="height:25px"></div>

            <!--Posts-->
            <ion-list>
                <div ng-repeat="p in vm.feeds" ng-switch on="p.post.post_type">
                    <text-post ng-switch-when="text" post="p"></text-post>
                    <image-post ng-switch-when="images" post="p"></image-post>
                    <audio-post ng-switch-when="audio" post="p"></audio-post>
                    <attachment-post ng-switch-when="attachment" post="p"></attachment-post>
                    <video-post ng-switch-when="video" post="p"></video-post>
                    <album-post ng-switch-when="album" post="p"></album-post>
                    <profile-post ng-switch-when="profile" post="p"></profile-post>
                </div>
            </ion-list>

            <ion-infinite-scroll distance="10%" on-infinite="vm.loadMorePosts()">
            </ion-infinite-scroll>
            <!--End of Posts-->

        </div>
    </ion-content>

</ion-view>