<div class="card">
    <ion-item class="item-avatar item-icon-right" id="home-list-item15">
        <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
        <h2>{{vm.post.owner_info.full_name}}</h2>
        <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>
        <i class="icon ion-ios-arrow-down"></i>
    </ion-item>
    <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
        {{vm.post.text_body}}
    </div>
    <div class="item item-icon-left" ng-repeat="file in vm.post.files">
        <i class="icon ion-headphone"></i>
        <audio controls>
            <source ng-src="{{vm.trustSrc(vm.apiurl+'/uploads/media/'+file.file_path)}}">
        </audio>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
    
</div>
