<div class="card">
    <ion-item class="item-avatar item-icon-right">
        <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
        <h2>{{vm.post.owner_info.full_name}}<span style="font-size: 14px;" ng-if="vm.post.has_url"> shared a link</span></h2>
        <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

    </ion-item>

    <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
        {{vm.post.text_body}}
    </div>



    <!--youtube video section-->

    <div ng-if="vm.yvideo">
        <iframe width="100%" ng-src="{{vm.trustSrc(vm.post.iframe)}}"></iframe>
        <div class="item item-text-wrap">
            <h2>{{vm.post.urlData.title}}</h2>
            <p>{{vm.post.urlData.description}}</p>
        </div>
    </div>
    <!--youtube video section-->
    <!--vimeo video section-->
    <div ng-if="vm.vvideo">
        <iframe width="100%" ng-src="{{vm.trustSrc(vm.post.iframe)}}"></iframe>
        <div class="item item-text-wrap">
            <h2>{{vm.post.urlData.title}}</h2>
            <p>{{vm.post.urlData.description}}</p>
        </div>
    </div>
    <!--vimeo video section-->
    <!--not video section-->
    <div ng-if="vm.notVideo">
        <div class="item item-image">
            <img ng-src="{{vm.trustSrc(vm.post.urlData.og_image)}}">
        </div>
        <div class="item item-text-wrap">
            <h2>{{vm.post.urlData.title}}</h2>
            <p>{{vm.post.urlData.description}}</p>
        </div>
    </div>
    <!--not video section-->



<!-- Like, comment, share and view more -->
    <div class="item row" >
        <div class="col col-20">
            <a href=""><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
            <span style="font-size:12px"> {{vm.post.likes}}</span></div>
        <div ui-sref="app.tabs.comments" class="col col-20">
            <a><i class="icon ion-ios-chatbubble" style="font-size:20px; vertical-align:middle;"></i></a>
            <span style="font-size:12px"> {{vm.post.comments}}</span></div>
        <div class="col col-20">
            <a href=""><i class="icon fa fa-share-alt" style="font-size:18px; vertical-align:middle;"></i></a>
            <span style="font-size:12px"> {{vm.post.shares}}</span></div>
        <div class="col col-offset-20 col-20">
            <a class="item-icon-right" ng-click="vm.showPopover($event)"><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
    </div>


</div>
