<div class="card">
    <ion-item class="item-avatar item-icon-right" id="home-list-item15">
        <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
        <h2>{{vm.post.owner_info.full_name}}<span style="font-size: 14px;" ng-if="vm.post.has_url"> shared a link</span></h2>
        <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>
        <i class="icon ion-ios-arrow-down"></i>
    </ion-item>
    <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
        {{vm.post.text_body}}
    </div>



    <!--youtube video section-->

    <div ng-if="vm.yvideo">
        <iframe width="100%" ng-src="{{vm.trustSrc(vm.post.iframe)}}"></iframe>
        <div class="item item-text-wrap">
            <h2>{{vm.post.urlData.title}}</h2>
            <p>{{vm.post.urlData.description}}</p>
        </div>
    </div>
    <!--youtube video section-->
    <!--vimeo video section-->
    <div ng-if="vm.vvideo">
        <iframe width="100%" ng-src="{{vm.trustSrc(vm.post.iframe)}}"></iframe>
        <div class="item item-text-wrap">
            <h2>{{vm.post.urlData.title}}</h2>
            <p>{{vm.post.urlData.description}}</p>
        </div>
    </div>
    <!--vimeo video section-->
    <!--not video section-->
    <div ng-if="vm.notVideo">
        <div class="item item-image">
            <img ng-src="{{vm.trustSrc(vm.post.urlData.og_image)}}">
        </div>
        <div class="item item-text-wrap">
            <h2>{{vm.post.urlData.title}}</h2>
            <p>{{vm.post.urlData.description}}</p>
        </div>
    </div>
    <!--not video section-->



    <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>


</div>
