<div class="card">
    <ion-item class="item-avatar item-icon-right" id="home-list-item15">
        <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
        <h2>{{vm.post.owner_info.full_name}}</h2>
        <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>
        <i class="icon ion-ios-arrow-down"></i>
    </ion-item>
    <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
        {{vm.post.text_body}}
    </div>
    <div class="item item-image" ng-repeat="image in vm.post.files | limitTo:4" ng-switch on="$index % 2">
        <div class="row row-no-padding">
            <div class="col" ng-switch-when="0">
                <img ng-src="{{vm.apiurl}}/uploads/images/{{image.file_path}}">
            </div>
            <div class="col" ng-switch-when="0">
                <img ng-show="vm.post.files[$index+1]" ng-src="{{vm.apiurl}}/uploads/images/{{vm.post.files[$index+1].file_path}}">
            </div>
        </div>
        
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left white-tabs">
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item white-tab-text" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
    
</div>
