<div class="card">
    <ion-item class="item-avatar item-icon-right" id="home-list-item15">
        <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
        <h2>{{vm.post.owner_info.full_name}}</h2>
        <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>
        <i class="icon ion-ios-arrow-down"></i>
    </ion-item>
    <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
        {{vm.post.text_body}}
    </div>
    <div class="item item-icon-left" ng-repeat="file in vm.post.files">
        <i class="icon ion-headphone"></i>

    </div>
    <div id="home-button-bar2" class="button-bar" >

        <a id="home-button19" class="button button-block button-small icon-left ion-thumbsup" >Like</a>
        <a id="home-button22" class="button button-block button-small icon-left ion-chatbox">Comments</a>
        <a id="home-button23" class="button button-block button-small icon-left ion-android-share-alt">Share</a>

   </div>
</div>
