<ion-view title="Home" ng-cloak >

  <ion-nav-bar class="bar-positive">

    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-person" ui-sref="app.tabs.profile">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>


<!-- regular and professional -->
  <div class="bar bar-subheader bar-positive">
      <ion-segment ng-model="feedType" full="false" balanced>
        <ion-segment-button value="'1''" ng-click="vm.changeFeedType(1)" style="color:white">
          Regular
        </ion-segment-button>
        <ion-segment-button value="'2''" ng-click="vm.changeFeedType(2)" style="color:white">
          Professional
        </ion-segment-button>
    </ion-segment>
  </div>

  <ion-content padding="true" class="has-tabs-top has-subheader">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.doRefresh()">
    </ion-refresher>




<!-- avater and status -->
    <div class="list card">

      <div class="item row">
           <div class="col col-20">
                <ion-item class="item-avatar">
                    <img ng-src="{{vm.apiurl}}{{vm.user.profileAvatar}}">
                </ion-item>
          </div>

          <div class="col col-80">
               <form>
                   <label class="item item-input">
                       <textarea ng-model="vm.status.text" placeholder="Share your activity pulse"></textarea>
                   </label>
              </form>
          </div>

      </div>


      <div  class="button-bar" style="padding-bottom:-5px">
        <button class="button button-positive button-clear icon ion-camera"> Photos</button>
        <button style="border-left: 1px solid #33cd5f;" class="button button-balanced button-clear icon ion-location"> Check in</button>
      </div>


  </div>




    <ion-list>
      <div ng-repeat="p in vm.feeds" ng-switch on="p.post.post_type">
        <text-post ng-switch-when="text" post="p"></text-post>
        <image-post ng-switch-when="images" post="p"></image-post>
        <audio-post ng-switch-when="audio" post="p"></audio-post>
        <attachment-post ng-switch-when="attachment" post="p"></attachment-post>
        <video-post ng-switch-when="video" post="p"></video-post>
        <album-post ng-switch-when="album" post="p"></album-post>
      </div>
    </ion-list>

   <ion-infinite-scroll
    ng-if="!vm.morePostsCanBeLoaded"
    icon="ion-loading-c"
    distance="10%"
    on-infinite="vm.loadMorePosts()">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
