<ion-view title="Comments" ng-cloak>

  <!--<ion-nav-bar class="bar-positive">

    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>

  </ion-nav-bar>-->




  <ion-content has-header="true">
    



    <!--video section-->
    <div class="card" ng-if="vm.type == 'video'">
        <ion-item class="item-avatar item-icon-right" id="home-list-item15">
            <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
            <h2>{{vm.post.owner_info.full_name}}</h2>
            <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

        </ion-item>
        <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
            {{vm.post.text_body}}
        </div>
        <div ng-repeat="file in vm.post.files">
            <video ng-if="file.is_active == 2" controls width="100%" ng-poster="{{vm.apiurl+'/uploads/videos/thumbs/'+file.file_path+'.png'}}">
                <source ng-src="{{vm.trustSrc(vm.apiurl+'/uploads/videos/'+file.file_path+'.'+file.attributes.ext)}}">
            </video>
            <video ng-if="file.is_active == 1" ng-click="vm.startThisVideo(this)" controls width="100%" ng-attr-poster="{{vm.apiurl + '/uploads/videos/thumbs/' + file.file_path + '.png'}}">
                <source ng-src="{{vm.trustSrc(vm.apiurl + '/uploads/videos/' + file.file_path + '.mp4-segment/' + file.file_path + '.m3u8')}}">
            </video>
        </div>


        <div class="item row">
            <div class="col col-20">
                <a ng-click="vm.likePost()"><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.likes}}</span></div>
            <div ui-sref="app.tabs.comments" class="col col-20">
                <a ng-click="vm.goToCommentPage('video')"><i class="icon ion-ios-chatbubble" style="font-size:22px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.comments}}</span></div>
            <div class="col col-20">
                <a href=""><i class="icon ion-android-share-alt" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.shares}}</span></div>
            <div class="col col-offset-20 col-20">
                <a class="item-icon-right" ng-click="vm.showPopover($event)"><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
        </div>
    </div>
    <!--END video section-->










    <!--Text section-->
    <div class="card" ng-if="vm.type == 'text'">
        <ion-item class="item-avatar item-icon-right">
            <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
            <h2>{{vm.post.owner_info.full_name}}<span style="font-size: 14px;" ng-if="vm.post.has_url"> shared a link</span></h2>
            <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

        </ion-item>

        <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
            {{vm.post.text_body}}
        </div>



        <!--youtube video section-->

        <div ng-if="vm.yvideo">
            <iframe width="100%" ng-src="{{vm.trustSrc(vm.post.iframe)}}"></iframe>
            <div class="item item-text-wrap">
                <h2>{{vm.post.urlData.title}}</h2>
                <p>{{vm.post.urlData.description}}</p>
            </div>
        </div>
        <!--youtube video section-->
        <!--vimeo video section-->
        <div ng-if="vm.vvideo">
            <iframe width="100%" ng-src="{{vm.trustSrc(vm.post.iframe)}}"></iframe>
            <div class="item item-text-wrap">
                <h2>{{vm.post.urlData.title}}</h2>
                <p>{{vm.post.urlData.description}}</p>
            </div>
        </div>
        <!--vimeo video section-->
        <!--not video section-->
        <div ng-if="vm.notVideo">
            <div class="item item-image">
                <img ng-src="{{vm.trustSrc(vm.post.urlData.og_image)}}">
            </div>
            <div class="item item-text-wrap">
                <h2>{{vm.post.urlData.title}}</h2>
                <p>{{vm.post.urlData.description}}</p>
            </div>
        </div>
        <!--not video section-->



    <!-- Like, comment, share and view more -->
        <div class="item row" >
            <div class="col col-20">
                <a ng-click="vm.likePost()"><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.likes}}</span></div>
            <div ui-sref="app.tabs.comments" class="col col-20">
                <a ng-click="vm.goToCommentPage('text')"><i class="icon ion-ios-chatbubble" style="font-size:22px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.comments}}</span></div>
            <div class="col col-20">
                <a href=""><i class="icon ion-android-share-alt" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.shares}}</span></div>
            <div class="col col-offset-20 col-20">
                <a class="item-icon-right" ng-click="vm.showPopover($event)"><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
        </div>


    </div>
    <!--END Text section-->











    <!--Image section-->
    <div class="card" ng-if="vm.type == 'image'">
        <ion-item class="item-avatar item-icon-right" id="home-list-item15">
            <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
            <h2>{{vm.post.owner_info.full_name}}</h2>
            <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

        </ion-item>
        <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
            {{vm.post.text_body}}
        </div>
        <div class="item item-image" ng-repeat="image in vm.post.files">
            <img ng-src="{{vm.apiurl}}/uploads/images/{{image.file_path}}">
        </div>


        <div class="item row">
            <div class="col col-20">
                <a ng-click="vm.likePost()"><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.likes}}</span></div>
            <div ui-sref="app.tabs.comments" class="col col-20">
                <a ng-click="vm.goToCommentPage('image')"><i class="icon ion-ios-chatbubble" style="font-size:22px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.comments}}</span></div>
            <div class="col col-20">
                <a href=""><i class="icon ion-android-share-alt" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.shares}}</span></div>
            <div class="col col-offset-20 col-20">
                <a class="item-icon-right" href=""><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
        </div>

    </div>
    <!--END Image section-->









    <!--Audio section-->
    <div class="card" ng-if="vm.type == 'audio'">
        <ion-item class="item-avatar item-icon-right" id="home-list-item15">
            <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
            <h2>{{vm.post.owner_info.full_name}}</h2>
            <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

        </ion-item>
        <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
            {{vm.post.text_body}}
        </div>
        <div class="item item-icon-left" ng-repeat="file in vm.post.files">
            <i class="icon ion-headphone"></i>
            <audio controls>
                <source ng-src="{{vm.trustSrc(vm.apiurl+'/uploads/media/'+file.file_path)}}">
            </audio>
        </div>




        <div class="item row">
            <div class="col col-20">
                <a ng-click="vm.likePost()"><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.likes}}</span></div>
            <div ui-sref="app.tabs.comments" class="col col-20">
                <a ng-click="vm.goToCommentPage('audio')"><i class="icon ion-ios-chatbubble" style="font-size:22px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.comments}}</span></div>
            <div class="col col-20">
                <a href=""><i class="icon ion-android-share-alt" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.shares}}</span></div>
            <div class="col col-offset-20 col-20">
                <a class="item-icon-right" href=""><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
        </div>

    </div>
    <!--END Audio section-->














    <!--Attachment Section-->
    <div class="card" ng-if="vm.type == 'attachment'">
        <ion-item class="item-avatar item-icon-right" id="home-list-item15">
            <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
            <h2>{{vm.post.owner_info.full_name}}</h2>
            <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

        </ion-item>
        <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
            {{vm.post.text_body}}
        </div>
        <div class="item item-icon-left" ng-repeat="file in vm.post.files">
            <img width="40" ng-src="{{vm.trustSrc(vm.apiurl+'/defaultMedia/document/'+file.attributes.ext+'.svg')}}"> {{file.file_path}}
        </div>




        <div class="item row">
            <div class="col col-20">
                <a ng-click="vm.likePost()"><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.likes}}</span></div>
            <div ui-sref="app.tabs.comments" class="col col-20">
                <a ng-click="vm.goToCommentPage('attachment')"><i class="icon ion-ios-chatbubble" style="font-size:22px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.comments}}</span></div>
            <div class="col col-20">
                <a href=""><i class="icon ion-android-share-alt" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.shares}}</span></div>
            <div class="col col-offset-20 col-20">
                <a class="item-icon-right" href=""><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
        </div>

    </div>
    <!--Attachment Section-->













    <!--Album Section-->
    <div class="card" ng-if="vm.type == 'album'">
        <ion-item class="item-avatar item-icon-right" id="home-list-item15">
            <img ng-src="{{vm.apiurl}}{{vm.post.owner_info.avatar}}">
            <h2>{{vm.post.owner_info.full_name}}</h2>
            <p style="white-space:normal;">{{vm.post.created_at.diffForHumans}}</p>

        </ion-item>
        <div class="item item-text-wrap" ng-if="vm.post.text_body !== ''">
            {{vm.post.text_body}}
        </div>


        <div class="item item-image">

            <div class="row row-no-padding" style="margin-bottom:10px">
                <div class="col col-100 album-image album-first-image" ng-style="{'background-image': 'url({{vm.apiurl}}/uploads/images/{{vm.post.files[0].file_path}})'}">
                </div>
            </div>

            <div class="row row-no-padding" style="margin-bottom:10px" ng-show="vm.post.files[2]">
                <div class="col col-50 album-image" style="margin-right:5px" ng-style="{'background-image': 'url({{vm.apiurl}}/uploads/images/{{vm.post.files[1].file_path}})'}">
                </div>
                <div class="col col-50 album-image" ng-style="{'background-image': 'url({{vm.apiurl}}/uploads/images/{{vm.post.files[2].file_path}})'}">
                </div>
            </div>

            <div class="row row-no-padding" ng-show="vm.post.files[5]">
                <div class="col col-33 album-image"  style="margin-right:5px" ng-style="{'background-image': 'url({{vm.apiurl}}/uploads/images/{{vm.post.files[3].file_path}})'}">
                </div>
                <div class="col col-33 album-image"  style="margin-right:5px" ng-style="{'background-image': 'url({{vm.apiurl}}/uploads/images/{{vm.post.files[4].file_path}})'}">
                </div>
                <div class="col col-33 album-image" ng-style="{'background-image': 'url({{vm.apiurl}}/uploads/images/{{vm.post.files[5].file_path}})'}">
                </div>
            </div>

        </div>






        <div class="item row">
            <div class="col col-20">
                <a ng-click="vm.likePost()"><i class="icon ion-heart" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.likes}}</span></div>
            <div ui-sref="app.tabs.comments" class="col col-20">
                <a ng-click="vm.goToCommentPage('album')"><i class="icon ion-ios-chatbubble" style="font-size:22px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.comments}}</span></div>
            <div class="col col-20">
                <a href=""><i class="icon ion-android-share-alt" style="font-size:20px; vertical-align:middle;"></i></a>
                <span style="font-size:12px"> {{vm.post.shares}}</span></div>
            <div class="col col-offset-20 col-20">
                <a class="item-icon-right" href=""><i class="icon ion-more" style="font-size:20px; vertical-align:middle;"></i></a></div>
        </div>

    </div>
    <!--END Album Section-->
























  </ion-content>

</ion-view>
