<ion-view title="forgot-pass" hide-nav-bar="true" hide-back-button="true" id="page6" >
  <ion-content padding="true" class="manual-ios-statusbar-padding background" scroll="false">
    <div class="spacer" style="width: 300px; height: 25px;"></div>

      <div style="margin:10px">
              <div>
                  <img src="img/freemig_icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto; margin-top:30px; margin-bottom:30px;">
              </div>

              <div class="spacer" style="width: 300px; height: 25px;"></div>

              <form id="forgotPass-form4" class="list">

                  <!--Email Address -->
                      <label class="item item-input"  style="border-radius:10px; border-width: 1.5px; border-style: solid; border-color:#ffffff; background-color: #ffffff;" >
                        <input type="tel" ng-model="vm.phone" placeholder="Type your account phone number">
                      </label>
              </form>

              <!--submit button -->
              <button ng-click="vm.forgotPass()" class="button button-light  button-block" style="border-radius: 10px;color:#0b883f">Submit</button>

              <div class="button-bar"  style="margin-left:-15%">
                   <button ui-sref="signup" class="button button-light button-small button-block button-clear"><b>Create Account<b></button>
                   <button ui-sref="signin" class="button button-light button-small button-block button-clear"><b>Sign In<b></button>
              </div>
      </div>

  </ion-content>

</ion-view>
