/* Empty. Add your own CSS if you like */

input::-webkit-input-placeholder {
color: #22c064 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #22c064 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #22c064 !important;
}

input:-ms-input-placeholder {
color: #22c064 !important;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.background{
    background: url('../img/sign_in_splash.jpg') no-repeat;
    background-size: cover;
}


.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs{
    top: 36px;
}

#sign-in-field{
  border-radius:25px;
  border-width: 2px;
  border-style: solid;
  border-color:#ffffff;
  background-color: transparent;"
}


.album-image{
    height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.album-first-image{
    height: 170px;
}

.narrow-padding{
  padding: 3px !important;
}

/*#remember_me{
  display: block;
  text-align: center;
  line-height: 300%;
  font-size: .8em;
  color: white;
}*/



 /* profile section */

 #profile-bg {
        position: fixed;
        left: 0;
        top: -280px;
        width: 100%;
        height: 280px;
        /*background-size: contain;
        background-position: center;
        background-repeat: no-repeat;*/
        text-align: right;
      }

      #content {
        position: relative;
        margin-top: 280px;
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 50px;
        padding-bottom: 10px;
      }

      #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }





      #profile-image {
        display: block;
        border-radius: 5px;
        border: 1px solid #fff;
        width: 80px;
        height: 80px;
        margin-left: 8px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }


      #pro-pic-edit{
          position: fixed;
          margin-top:-40px;
          margin-left: -40px;
          text-shadow: 1px 3px 6px #000000;
      }

      #profile-name {
        color: #ffffff;
        font-size: 16px;
        padding-left: 10px;
        margin-top: 30px;
        text-shadow: 1px 3px 6px #000000;
      }

      #profile-description {
        font-size: 10px;
        color: #ffffff;
        margin-top: -25px;
        margin-left: 100px;
        text-shadow: 1px 3px 6px #000000;
      }

      #profile-description a {
        color: #ffffff;
        text-decoration: none;
      }

      #profile-btn{
        padding-top: 10px;
        margin-bottom: auto;
        padding-bottom: 10px;
        color: #22c064;
      }


      .vertical-line{
         border-left: thin solid  #11a74a;
         margin-top: 10px;
         margin-bottom: 10px;
         margin-left: 5%;

      }

      .center {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .information{
    font-size: 12px;
    padding: 15px 15px 5px 0;
    color: #11a74a;
  }


      .profile_basic_info{
          font-size:10px;
          padding: 30px;
          color: #888;
       }
