/* Empty. Add your own CSS if you like */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.background{
    background: url('../img/sign_in_splash.jpg') no-repeat;
    background-size: cover;
}


.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs{
    top: 36px;
}

/*.item-floating-label{
display: block;
}*/

#signin-input1{
  margin-bottom: 20px;
  /*font-size: 12px;*/
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 20px;
  height: 3.5em;
}


.album-image{
    height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.album-first-image{
    height: 170px;
}

.narrow-padding{
  padding: 3px !important;
}

/*#remember_me{
  display: block;
  text-align: center;
  line-height: 300%;
  font-size: .8em;
  color: white;
}*/



 /* profile section */

 #profile-bg {
        position: fixed;
        left: 0;
        top: -150px;
        width: 100%;
        height: 150px;
        background-size: 100%;
        background-position: 50% 20%;
        background-repeat: no-repeat;
        text-align: right;
      }

      #content {
        position: relative;
        margin-top: 150px;
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 240px;
        padding-bottom: 30px;
      }

      #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }

      #pro-pic-edit{
          margin-top:-40px;
          text-shadow: 1px 3px 6px #000000;
      }

      }

      #profile-name {
        color: #444;
        font-size: 26px;
      }
      #profile-description {
        font-size: 15px;
        color: #888;
        padding:10px;
      }
      #profile-description a {
        color: #888;
        padding:10px;
      }

      #profile-image {
        display: block;
        border-radius: 100px;
        border: 2px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

      #profile-btn{
        padding-top: 10px;
        font-size: 12px;
        margin-bottom: auto;
        padding-bottom: 30px;
        color: #888;
      }




      .center {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }


      .profile_basic_info{
          font-size:12px;
          padding: 20px;
          color: #888;
       }
